.color-block {
    height: 400px;
    width: 400px;
}

.red {
    background-color:red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}